# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
config
classes
gradle
inspection
*.bat
*.gradle
forge-1.8.9-11.15.0.1697-changelog.txt
forge-1.8.9-11.15.0.1709-changelog.txt
